body {
    margin: 0 !important;
    padding: 0 !important;
}

.clear {
    clear: both;
}

#navbar {
    z-index: 3;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 8%;
    background-color: #000;
    opacity: 80%;
}

#navbar a {
    text-decoration: none;
    color: #fff;
    font-family: Zen Dots, monospace;
    font-size:0.8vw;
    float: right;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 80px;
    font-weight: bold;
    
    letter-spacing: 0.15em;
    display: inline-block;
    position: relative;
}

#navbar a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
#navbar a:hover:after { 
  width: 100%; 
  left: 0; 
}

#navbar img {
    margin-top: 30px;
    width: 300px;
    margin-left: 5%;
    float: left;
}

#navbar a:hover {
    transform: scale(1.2, 1.2);
    color: white;
}

.divUnderNav{
    height:110px;;
    background-color: #000;
}

h4 {
    margin-top: 10%;
    margin-bottom: 0;
    letter-spacing: 0.1em;
    font-family: Zen Dots, monospace;
    font-size: 5vw;
}

#text-block h4{
    color:#000;
}

#text-block p {
    margin-top: 10px;
    font-family: Roboto,sans-serif;
    letter-spacing: 0.1em;
    font-size:1.1vw;
}

#launchimage {

    width: 100%;
    height: 1280px;
    object-fit: cover;
}

#topimage {
    position: relative;
}

#text-block {
    position: absolute;
    bottom: 55%;
    right: 70%;
    color: white;
}

#overviewContainer {
    width: 100%;

}



#overview {
    width: 50%;
    margin-left: 25%;
    margin-top: 200px;
    

}

#overview h1{
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 2vw;
}

.ballI {
    animation-name: roll;
    width: 50px;
    height: 50px;
    background-color: blue;
    margin-top: 2%;
    margin-left: 10%;
    margin-bottom: 200px;

    background: linear-gradient(35deg,
            #D38312,
            #A83279);
    border-radius: 50%;
    animation-duration: 6s;
    animation-iteration-count: infinite;


}

.ballII{
    margin-bottom:0px;
}

@keyframes roll {

    50% {
        margin-left: 90%;
        animation-timing-function: linear;
    }

}
.container {
    
    background-color: #000;
   
}

.containerBlack{
    background-color: #fff;
}


h1 {
    font-family: Zen Dots, monospace;
    font-size: 2vw;
    text-align: center;
}

.mainpics {
    width: 40%;
    height: 1080px;
    object-fit: cover;
}

.pictureLeft {
    float: left;
}

.pictureRight {
    float: right;
}

.floatRightText {
    width: 40%;
    float: right;
    margin-right: 10%;
    
}

.title{
    font-family: Zen Dots, monospace;
    font-size: 4vw;
    text-align: left;
    margin-bottom: 0;
    
}

.sub{
    font-family: Zen Dots, monospace;
    font-size: 2vw;
    text-align: left;
    margin-top: 0;
}

.paragraph{
    font-family: Roboto, monospace;
    font-size: 1vw;
    text-align: left;
    margin-top: 0;
}

span{
    text-decoration: underline;
}

.one{
    margin-top: 180px;
}

.two{
    margin-top:190px;
}

.three{
    margin-top: 210px;
}


.floatLeftText {
    width: 40%;
    float: left;
    margin-left: 10%;
    margin-right: 10%;
    color:#fff;
}



.galleryContainer {
    width: 100%;
    
    text-align: center;
    
}

.big {
    height: 28vw;
    width: 30%;
    float: left;
    margin: 3px;
    margin-left: 15%;
    margin-top: 30px;
    border-radius: 5px;
    object-fit: cover;
    object-position: 0% 0;
}

.big:hover {
    transform: scale(1.03, 1.03);


}

.gallerySmallImg {

    float: right;
    width: 40%;
    margin-right: 14%;
    margin-top: 30px;
    padding-left: 0;
    margin-left: 0;

}

.small {
    height: 14vw;
    width: 14vw;
    position: relative;
    margin: 3px;
    border-radius: 5px;
    object-fit: cover;
}

.small:hover {
    transform: scale(1.03, 1.03);


}

.lightbox {

    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);

}

a div {
    position: relative;
    margin: auto auto;
    text-align: center;
}

.lightbox:target {
    display: flex;
}

.container a {
    text-decoration: none;
}

p {
    font-size: 2vw;
    color: white;
    font-family: Roboto, sans-serif;
    
}

.galleryTitle {
    padding-left: 15%;

}

.gallerySub{
    margin-bottom: 50px;
    padding-left: 15%;
}

footer {
    margin-top: 10%;
    background-color: #000;
    height: 200px;

}

footer h3{
    text-align: center;
    padding-top: 50px;
    font-family: Zen Dots, monospace;
    font-size: 0.9vw;
    color: white;
    
}

footer h3 a{
    color: aqua;
}

footer h4{
    text-align: center;
    padding-top: 20px;
    font-size:0.7vw;
    margin-top: 0;
    color:white;
}

footer h4 a{
    color:aqua;
}
